.App {
  text-align: center;
}

/* for the app */
input {
  margin-left: 20px;
  width: 250px;
  height: 20px;
  border-radius: 5px;
}
.conatiner {
  text-align: center;
  margin-top: 40px;
}
.name {
  margin-left: 30px;
}
.lastname {
  margin-top: 20px;
  width: 250px;
  margin-left: 10px;
}

.age {
  margin-top: 20px;
  width: 250px;
  margin-left: 35px;
}

button {
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}
.btn {
  color: aliceblue;
  background-color: blueviolet;
}
.btn {
  margin-left: 16px;
}
.btn :hover {
  background-color: blueviolet;
}

/* routing */
li {
  text-decoration: none;
}
